.inputField__label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.primaryBtn {
  /* background-color: #92c7ec; */
  color: #fff;
  border: 0;
  border-radius: 56px;
  background-color: #1076c0;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: 0;
  padding: 10px 15px;
  margin-top: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: slit-in-vertical 1s linear 0s 1 normal none;
  /* text-shadow: black 2px 1px 2px; */
}

.primaryBtn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.primaryBtn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 5px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}



@media (min-width: 350px) {
  .primaryBtn {
    padding: 10px 12px;
  }
}

@media (min-width: 550px) {
  .primaryBtn {
    padding: 14px 28px;
  }
}

@keyframes slit-in-vertical {
			
  0% {
    transform:translateZ(-800px) rotateY(90deg);
    opacity:0;
  }
  50% {
    transform:translateZ(-160px) rotateY(87deg);
    opacity:1;
  }
  100% {
    transform:translateZ(0) rotateY(0);
  }
}