.events-wrapper {
  height: 100vh;
  /* background-image: url(../../imgs/collagePics/©\ Jan\ Tenhaven_P1060271.JPG); */
  background-color: #fff;
  /* background-color: #bde4f7fd; */
  /* background-color:dodgerblue; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventsText {
  color: #fff;
  /* font-size: 25px; */
  font-size: clamp(1.875rem, 0.3125rem + 5vw, 3.125rem);
  /* text-shadow: black 2px 2px 2px; */
  padding-top: 50px;
  font-weight: 400;
}

.fb-post {
  /* height: 600px;
width: 350px; */
}
