.social-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:100px;
  color: white;
  text-align: center;
}

.link{
  color: white;
  text-shadow: black 2px 2px 2px;
}
