.social-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: fixed;
  bottom:0;
  left: 0;
  bottom: 0;
  width: 100%;
  height:50px;
  color: white;
  text-align: center;
  background-color: #fff;
  padding:3px;
}

.linkSocial{
  color: white;
  color: #1375BC;
  /* text-shadow: black 2px 2px 2px; */
}

.contact{
  letter-spacing: 0.5px;
  font-size:16px;
  font-weight: 500;
  animation: bounce-top 1s linear 0s 1 normal none;
}

@keyframes bounce-top {
			
  0% {
    transform:translateY(0);
  }
  25% {
    transform:translateY(0);
  }
  40% {
    transform:translateY(-24px);
  }
  55% {
    transform:translateY(0);
  }
  65% {
    transform:translateY(-12px);
  }
  75% {
    transform:translateY(0);
  }
  82% {
    transform:translateY(-6px);
  }
  87% {
    transform:translateY(0);
  }
  93% {
    transform:translateY(-4px);
  }
  100% {
    transform:translateY(0);
  }
}
